.container{
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: auto;
}

.header{
	
}

.logo{

}

.menu{

}

.content{
	
}

.project{
	
}

.footer{
	
}

/* Smallest design: smartphone potrait */
@media screen and (max-width: 320px) {
    .header {
        grid-column: span 12;
    }
    
    .content{
    	grid-column: span 12;
    }

    .footer{
    	grid-column: span 12;
    }
}

/* Medium layout: smartphone landscape, tablet potraits */
@media screen and (max-width: 1024px) {
    .header {
        grid-column: span 12;
    }
    
    .content{
    	grid-column: span 12;
    }

    .footer{
    	grid-column: span 12;
    }
}		