/* DESKTOP DESIGN YALL */
@media screen and (min-device-width: 720px) and (orientation: landscape){

.container{
	display: grid;
	grid-template-columns: 400px 1fr;
}

.header{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	
}

.content{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.footer{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.project{
	display: grid;
	grid-template-columns: 350px 2fr;
	grid-column-gap: 20px;
}

} /*END OF DESKTOP DESIGN*/


/* Smallest design: smartphone potrait MOBILE DESIGN YALL */
@media screen and (max-device-width: 812px) {
	.container{
		display: grid;
		grid-template-columns: 1fr;
	}

	.header{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
		
	}

	.content{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.footer{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
	}

} /* END OF MOBILE DESIGN */