html{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.6;
	background-color: #FCFCFC;
}

ul,ol,dl,p {
	font-size: 1.33rem;
}

li, p {
	line-height: 1.5;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* Description list styles */


dd, dt {
	line-height: 1.5;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.5rem;
}

/* Own styling */

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 4rem;
}

h2{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2.33rem;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.33rem;
}

h4{
	font-family: 'Carme', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}

p{
	font-family: 'Carme', sans-serif;
	font-weight: 400;
	font-size: 1.17rem;
}

.container{
	background-color: #FFE897;
	padding: 80px 30px 40px 30px; 
	background-color: #FCFCFC; /*same as HTML bg color */
}

.header{
	background-color: #141212;
	text-align: center;
	margin:-90px 0 -50px -40px;
	padding: 180px 50px 0 50px;
	height: 100vh;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

#siteName {
	color:#ffffff;
	line-height: 0.2;
	font-weight: 400;
}

#siteSubtitle{
	color: #66CCE2;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	line-height: 1;
}

.logo{
	
}


.navigation{
	font-family: 'Carme', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	padding-top: 60px;
}

.navigation a{
	display: block;
	text-decoration: none;
	color: #AAA7A7;
}

.navigation a:hover{
	color: #CB50A7;
}

.navigation a.active{
	color: #CB50A7;
	text-decoration: underline;
}

.sosmed {
	margin-top: 60px;
}	

.sosmed img{
	margin: 0 3px 0 3px;
	background-color: #AAA7A7;
}

.sosmed img:hover{
	background-color: #66CCE2;
}		

.content{
	background-color: #FCFCFC;
	padding: 0 50px 0 50px;	
}

.content a{
	box-shadow: inset 0 -16px 0 #ff80ff;
	transition: background .15s;
}

.content a:hover{
	background-color: #ff80ff;
	color: #ffffff;
	font-style: italic;
}

.project h1, h2, h3, h4, p{
	margin: 0.5em 0 0.5em 0;
	padding: 0;
}

.project a{
	box-shadow: inset 0 -8px 0 #65cbe2;
	transition: background .15s;
}

.project a:hover{
	background-color: #65cbe2;
	color: #ffffff;
	font-style: italic;
}

#key_skills{
	color: #AAA7A7;
	font-weight: 400;
}

.footer{
	padding-top: 50px;
	text-align: center;
}

#footer{
	font-size: 1rem;
	color: #AAA7A7;
}