html{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.6;
	background-color: #FCFCFC;
}

body{
	display: block;
}

ul,ol,dl,p {
	font-size: 1.33rem;
}

li, p {
	line-height: 1.5;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* Description list styles */


dd, dt {
	line-height: 1.5;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.5rem;
}

/* GENERAL STYLING */

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 4rem;
}

h2{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2.33rem;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.33rem;
}

h4{
	font-family: 'Carme', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}

p{
	font-family: 'Carme', sans-serif;
	font-weight: 400;
	font-size: 1.17rem;
}

.container{
	background-color: #FCFCFC; /*same as HTML bg color */
}

.header{
	background-color: #141212;
	text-align: center;
}

.navigation{
	font-family: 'Carme', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

.navigation a{
	text-decoration: none;
	color: #AAA7A7;
}

.navigation a:hover{
	color: #CB50A7;
}

.navigation a.active{
	color: #CB50A7;
	text-decoration: underline;
}

.sosmed img{
	background-color: #AAA7A7;
	margin: 0 5px 0 5px;
	max-height: 30px;
	max-width: 30px;
}

.sosmed img:hover{
	background-color: #66CCE2;
}	

.content{
	background-color: #FCFCFC;
	padding-bottom: 30px;
}

.content a{
	box-shadow: inset 0 -16px 0 #ff80ff;
	transition: background .15s;
}

.content a:hover{
	background-color: #ff80ff;
	color: #ffffff;
	font-style: italic;
}


/* ABOUT section */
.showInfo:focus ~ .moreInfo{
	display: block;
}

.showInfo:focus ~ .hideInfo{
	display: block;
}

.showInfo:focus ~ .moreInfo{
	display: none;
}

.hideInfo:focus ~ .moreInfo{
	display: none;
}

.hideInfo{
	display: none;
}

.moreInfo{
	display: none;
}

.project h1, h2, h3, h4, p{
	margin: 0.5em 0 0.5em 0;
	padding: 0;
}

.project a{
	box-shadow: inset 0 -8px 0 #65cbe2;
	transition: background .15s;
}

.project a:hover{
	background-color: #65cbe2;
	color: #ffffff;
	font-style: italic;
}

#key_skills{
	color: #AAA7A7;
	font-weight: 400;
}

.footer{
	border-top: 1px solid black;
	text-align: center;
	padding-top: 30px;
}

#footer{
	font-size: 1rem;
	color: #AAA7A7;
}
/* END OF GENERAL STYLING */


/* DESKTOP DESIGN */
@media screen and (min-device-width: 720px) and (orientation: landscape){
.container{
	padding: 80px 30px 40px 30px; 
}

.header{
	margin:-90px 0 -50px -40px;
	padding: 180px 50px 0 50px;
	height: 100vh;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo img{
	max-height: 112.5px;
	max-width: 120px;
}

#siteName {
	color:#ffffff;
	line-height: 0.2;
	font-weight: 400;
}

#siteSubtitle{
	color: #66CCE2;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	line-height: 1;
}

.navigation{
	padding-top: 60px;
}

.navigation a{
	display: block;
}

.sosmed {
	margin-top: 60px;
}	

#sosmed_footer {
	display: none;
}	

.content{
	padding-left: 50px;
	padding-right: 50px;
}

.footer{
	margin: 0 50px 0 50px;	
}

} /*END OF DESKTOP DESIGN*/




/* Smallest design: smartphone potrait MOBILE DESIGN YALL */
@media screen and (max-device-width: 812px) {


.header{
	margin:	-10px -10px 0 -10px;
	padding: 15px 0 5px 0;
}

.logo img{
	max-height: 75px;
	max-width: 80px;

}

.logo h1{
	display: none;
}

.logo h2{
	display: none;
}

.navigation a{
	display: inline-block;
	padding: 10px 15px 10px 15px;
}

#sosmed_header {
	display: none;
}


} /* END OF MOBILE DESIGN */